name: Makefile CI

on:
  push:
    branches: [ "PrimeWorkflow" ]

jobs:
  build:
    runs-on: self-hosted
    timeout-minutes: 1440
    
    # Global environment variables for this job
    env:
      # This points Buildroot to a permanent folder on your runner's SSD.
      # It prevents re-downloading the kernel/sources every time.
      BR2_DL_DIR: /home/rob/buildroot_dl

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
      # Note: This action runs 'git clean -ffdx' by default, 
      # which is a better 'clean' than 'make clean' provides.

    - name: Check available space
      run: df -h

    - name: Create Config
      run: make shredos_iso_extra_defconfig

    - name: MAKEIT
      # We removed 'make clean' to save time since checkout wipes the directory.
      run: make -j$(nproc)

    - name: Final Disk Usage
      run: df -h

    - name: Upload Artifact
      if: success()
      uses: actions/upload-artifact@v4
      with:
        name: shredos-fork-build
        path: |
          output/images/shredos*.img
          output/images/shredos*.iso
