name: Makefile CI

on:
  push:
    branches: [ "PrimeWorkflow" ]


jobs:
  build:
    runs-on: self-hosted
    timeout-minutes: 1440
    steps:
    - uses: actions/checkout@v4

    # # This is the critical step to reclaim ~20GB+ of space
    # - name: Free Disk Space (Ubuntu)
    #   uses: jlumbroso/free-disk-space@main
    #   with:
    #     tool-cache: true
    #     android: true
    #     dotnet: true
    #     haskell: true
    #     large-packages: true
    #     docker-images: true
    #     swap-storage: true

    - name: Check available space
      run: df -h

    # Buildroot doesn't need 'make clean' on a fresh runner, 
    # but keeping it doesn't hurt if you prefer it.
    - name: Make clean
      run: make clean

    - name: Create Config
      run: make shredos_iso_extra_defconfig

    - name: MAKEIT
      run: make -j2

    - name: Final Disk Usage
      run: df -h

    - name: upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: shredos-fork-build
        path: |
          output/images/shredos*.img
          output/images/shredos*.iso
